/* Estilos generales */
/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
} */

.container {
    display: flex;
    flex-direction: column;
    color: black;
    /* max-width: 60vw; */
    margin: 0 auto;
    padding: 0 50px;
    background-color: hwb(0 100% 0%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

h1 {
    text-align: center;
    color: #333;
}

/* Estilos del formulario */
form {
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    max-width: 60dvw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #339390;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #007899;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
}